.App{
    background-color: #333333;
    padding: 4px 4px 4px 4px;



}

body{
    color: lightgray;
    margin:1em 1em 1em 1em;

}

span{
    color:white;
}

.rightDivs{
    display:flex;
    justify-content: space-between;

}

.ldlDescrip{
    color: gray;
    width:50%;
    margin-top: .4em;


}

.number{
    color: white;
    width:33%;
    margin-top:.4em;


}

.date{
    color:white;
    margin-top:.4em;

}

.name{
    color:white;
    flex-wrap: wrap-reverse;
    margin-top: .17em;

}

.entireThing{
    display:flex;
    flax-wrap:wrap;
    height:14.1em;
    border:1px solid gray;
    border-margin:1px;

}

.entireThing>* {
    flex: .5 .5 160px
}

.statsGroup{
border-top: 1px solid white;

}

.entireRightSide{
    margin-left:-2em;
    margin-right: 1.2em;
    margin-top:1.2em

}
/*need to move entire thing closer together, and then move the group to the right to make closer to image.*/
.entireLeftSide{
    margin-left:1em;
    margin-top:-1em;

}

.image{
    height:7em;


}
img{
    margin-top:1.2em;
    margin-left:-1em;
}

.P1{
    font-size: 1em;
    margin:0px;
    padding:0px;

}

.P2{
    font-size:1.5em;
    color:gray;
    margin-top:.2em;
    margin-bottom: .1em;

}

.P3{
    font-size: 1em;
    margin-top: .5em;

}

.risk{
    color:gray;
}

.P4{
    font-size: 1em;
    margin-top:-.5em;

}

.intensity{
    color:gray;
}
