.App{
    background-color: #333333;


}

body{
    color: white;
}

span{
    color:white;
}

.rightDivs{
    display:flex;
    justify-content: space-between;

}

.ldlDescrip{
    color: gray;
    width:33%;
    margin-top: .5em;


}

.number{
    color: white;
    width:33%;
    margin-top:.5em;


}

.date{
    color:white;
    margin-top:.5em;

}

.name{
    color:white;
    flex-wrap: wrap-reverse;
    margin-top: -.0003em;

}

.entireThing{
    display:flex;
    flax-wrap:wrap;

}

.entireThing>* {
    flex: .5 .5 160px
}

.statsGroup{
border-top: 1px solid white;

}

.entireRightSide{
    margin-left:1em;
    margin-top:1em

}
/*need to move entire thing closer together, and then move the group to the right to make closer to image.*/
.entireLeftSide{
    margin-left:2em;

}

.image{
    height:7em;

}

.P1{
    font-size: .8em;
}

.P2{
    font-size:1em;
    color:gray;
}

.P3{
    font-size: .8em;
}

.risk{
    color:gray;
}

.P4{
    font-size: .8em;

}

.intensity{
    color:gray;
}
